@use 'variaveis';

.topic {
    width: 100%;
    background-color: variaveis.$corDeFundo;
    color: variaveis.$corDeTextoPrincipal;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

    &__container {
        display: flex;
        width: 100%;
        max-width: 1200px;
        gap: 40px;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap; 
    }

    &__cast,
    &__director {
        flex: 1;
        padding: 20px;
        text-align: left;
    }

    &__director {
        text-align: right;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            font-size: 1.4rem; 
            margin-bottom: 10px;
        }
    }

    p {
        font-size: 1.4rem; 
        line-height: 1.5;
    }

    h2 {
        font-size: 2.5rem; 
        font-weight: bold;
        margin-bottom: 20px;
    }

    &__container::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: variaveis.$corDeTextoPrincipal;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }

    @media (max-width: 768px) {
        &__container {
            flex-direction: column; 
        }

        h2 {
            font-size: 2rem; 
        }

        ul li,
        p {
            font-size: 1.3rem; 
        }

        &__container::before {
            display: none;
        }
    }
}
