@use 'variaveis';
@use 'header';
@use 'hero';
@use 'journey';
@use 'about';
@use 'keys';
@use 'images';
@use 'topic';
@use 'footer';

*,
*::before,
*::after {
    box-sizing: border-box; 
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    overflow-x: hidden; 
}


